<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--告诉spring在创建容器时，要扫描的包-->
    <context:component-scan base-package="cn.itcast"/>
    <!--配置数据源，使用静态工厂的方法创建对象-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSourceFactory" factory-method="createDataSource">
        <constructor-arg>
            <props>
                <prop key="driverClassName">com.mysql.jdbc.Driver</prop>
                <prop key="url">jdbc:mysql:///userinfo</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
                <prop key="initialSize">5</prop>
                <prop key="maxActive">10</prop>
                <prop key="maxWait">3000</prop>
            </props>
        </constructor-arg>
    </bean>
    <!--将jdbc template存入spring容器-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="prototype">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
</beans>